.tools-float-top-center {
   position: absolute;
   top: 10px;
   z-index: 99999; 
   left: 50%;
   transform: translateX(-50%); 
}

#tools-float-top-right {
   position: fixed;
   top: 145px;
   right:67px;
   display:block;
   z-index: 99999; 
}

.prestyle {
  width:100%;
  margin: auto;  
  padding:10px;	
  resize: both;
  overflow-x:auto;
  /*margin-top:20px;*/
  display:block;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */  
  overflow-wrap: break-word;
}

.prestyle2 {
 padding:10px;
 margin: auto;
 width:100%; 
 overflow-wrap: break-word;
}

.prelive {
font-size: .875em;
inline-size: 100%;
writing-mode: horizontal-tb;
padding:10px;margin: auto;
display:inline-block;
overflow: auto;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;		
}

body{
	margin:0;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
code{
	font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

.div-Class-Film1 {
	width:25px;
	position:absolute;
	left:8px;
	top:-18px;
	z-index:200;
}

.div-Class-Film2 {
	/* width:25px; */
	color:white;
	font-size: 20px;
	position:absolute;
	left:5px;
	/* top:5px; */
    z-index:200;
}

.div-Class-Film3 {
	width:25px;
	position:absolute;
	left:8px;
	top:-18px;
	z-index:200;
}

.legend-container{
	position:relative;
	z-index:100
}

.legend-text{
	position:relative;
	z-index:200
}

.legend-backdrop{
	background-image: url('../images/backdrop.jpg');
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:50%;
	opacity:.4}

.websify-logo-inpage{
	margin-top:20px;
	width:500px
}

.websify-logo-navbar-brand{
	height:100px
}

.websify-logo-under-movie-image{
	margin-top:20px;
	height:110px
}

.noResults,.topSearch{padding:20px}

.hiddenElem{
	display : none;	
}

.spacerTopBottomMD {  
margin-top: 40px; 
margin-bottom: 40px;
}

